<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{> socure }}
</head>
<body>
{{> header }}
<p>body:当前登录用户为：{{userInfo.userName}}</p>
<h1>News demo by {{author}}</h1>
<p>{{author}}:hello world</p>
<p></p>
{{> footer }}
</body>
</html>
